{% extends 'base.html' %}
{% block content %}
 <form class="shadow" method="post">
 {% csrf_token %}
    <div class="container">

            <div class="row g-3" >

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="task" placeholder="Enter the task" class="form-control">
                            </div>
                             <div class="form-group">
                                <input type="text" name="priority" placeholder="Enter the Priority" class="form-control">
                            </div>
                            <div class="shadow form-group">
                                <input type="text" name="remarks" placeholder="Enter the Priority" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                             {% for i in task1 %}
                            <div class="shadow card">
                                <div class="card-body">

                                    <h5 class="card-title">{{i.name}}</h5>
                                    {{i.priority}}

                                </div>
                            </div>
                            {% endfor %}
                        </div>

            </div>


        <input type="submit" class="btn btn-warning">


    </div>
 </form>




{% endblock %}

<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


